body {
    padding: 0;
    margin: 0;
    background: black;
}
input {
    color: white;
    border: 1px solid #2F4A28;
    border-radius: 5px;
    background: transparent;
}
button, .btn {
    border: 1px solid #2F4A28;
    border-radius: 5px;
    background: transparent;
    color: white;
}
.main-page-container {
    min-width: 360px;
    height: 100vh;
    background: black;
    padding: 0;
}
.header {
}
#button-playlists {
    background: black;
    border: 1px solid #2F4A28;
    color: #2F4A28;
    float: right;
}
.playlist {
    min-height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown-menu {
    right: 0;
    left: unset !important;
}

#playlists-dropdown, .li-playlist {
    background: #111;
    color: #999;
    text-align: right;
    line-height: 2;
}
.current {
    width: 80%;
    text-align: center;
    font-size: 24px;
    border: 0;
    background: black;
    color: white;
    resize: none;
}
.playback {
    height: 120px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#button-sleep {
    height: 110px;
    width: 110px;
    margin: 5px;
    padding: 0;
}
#label-zzz {
    font-size: 20px;
}
.input-sleep {
    width: 104px;
    height: 40px;
    border: 0;
    text-align: center;
    font-size: 20px;
}
#image-raspberry {
    height: 110px;
    vertical-align: top;
}
.button-pause {
    padding: 0;
    border: 0;
    margin: 5px;
    cursor: pointer;
}
.column {
   display: flex;
   flex-direction: column;
   align-items: stretch;
}
.square-element {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 32px;
}
#input-repeat {
   width: 48px;
   height: 48px;
   padding: 0;
   font-size: 32px;
   text-align: center;
}
#volume {
    display: flex;
    justify-content: center;
}
#rulers-volume {
    width: 360px;
    padding: 16px 0;
}
#ruler-volume-left {
    position: absolute;
    height: 10px;
    margin: 0;
    background: #204124;
    border-style: none;
    border-radius: 3px;
}
#ruler-volume-right {
    position: absolute;
    width: 360px;
    height: 10px;
    margin: 0;
    background: #222;
    border-style: none;
    border-radius: 3px;
}
